* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #EBEEF1;
}

h1 {
    text-align: center;
    margin-bottom: 0.3em;
}

hr {
    border-top: 3px solid #F4B18C;
    width: 30%;
}

.container {
    display: flex;
    justify-content: center;
}

.writer-container {
    width: 60%;
    padding: 2em;
    margin: 2em;
}

.keywords-container {
    width: 30%;
    padding: 2em;
    margin: 2em;
}

#seo-content {
    width: 80%;
    min-height: 70vh;
    height: fit-content;
    border: 1px #3B9778;    ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.inputkeywords {
    border: 1px #3B9778;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: .8em;
    margin: 1em 0;
}

.keywords-list {
    margin: 0;
    padding: 0;
}

.keywords-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #3B9778;
    border: #3B9778;
    color: #EBEEF1;
    border-radius: 1.2em;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

